.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app__header > a {
  text-decoration: none;
}

body {
  background: #d6d6d6;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.8;
}

@media (max-width: 1072px) {
  .app {
    flex-direction: column;
  }
}

.uppercase {
  text-align: center;
  text-transform: uppercase;
  border: 1.5px solid #6a5d5d;
  padding: 10px;
  color: #6a5d5d;
}

.mb-10 {
  margin-bottom: 30px;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
.logo {
  font-family: "Ubuntu Condensed", sans-serif;
  letter-spacing: 5px;
  color: #6a5d5d;
  cursor: pointer;
}
